footer
  .container-fluid.text-center
    p.pull-left(style='font-family: Verdana; font-size: 15px') © 2017 Radiologium, All Rights Reserved
    ul.pull-right.list-inline
      li(style='font-family: Verdana; font-size: 15px')
        a(href='#') Legal
      li(style='font-family: Verdana; font-size: 15px')
        a(href='#') Report Issue
