extends base/layout

block main
  nav.navbar.navbar-inverse
    .container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        img.navbar-brand(src='/images/logo.png')
      // Collect the nav links, forms, and other content for toggling
      .main-navbar
        ul.nav.navbar-nav
          li.dashboardElement
            a(href='#' style='color:black')
              | Dashboard 
          li.tracksElement
            a(href='#' style='color:black') Tracks
          li.dropdown.reportElement
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false' style='color:black')
              | Reports 
            ul.dropdown-menu
              li
                a(href='#') Tracks Covered
              li
                a(href='#') Progress Report
              li
                a(href='#') Performance Report
              li
                a(href='#') Activity Report
        //- form.navbar-form.navbar-left
        //-   .form-group
        //-     input.form-control(type='text', placeholder='Search Tracks')
        //-   button.btn.btn-default(type='submit') Submit
        ul.nav.navbar-nav.navbar-right
          li
            h1=userName
          li
            a(href='#') Link
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              img.profile-pic(src='/images/profile-testimg.jpg') 
              span.caret
            ul.dropdown-menu
              li
                a(href='#') Profile
              li
                a(href='#') Change Password
              li
                a(href='#') Billing
              li.divider(role='separator')
              li
                a(href='/secret/logout') Logout
      // /.navbar-collapse
      // /.container-fluid
  .jumbotron
    h1.text-center Chest X-Ray Essentials
    .row
      .col-xs-6.col-sm-6.col-md-4.col-lg-4
        // User activity item
        .panel.price.panel-red
          .panel-heading.text-center
            h3 PRO PLAN
          .panel-body.text-center
            p.lead(style='font-size:40px')
              strong $10 / month
          .panel-footer
            a.btn.btn-lg.btn-block.btn-danger(href='#') BUY NOW!
      .col-xs-6.col-sm-6.col-md-4.col-lg-4
        // User activity item
        .panel.price.panel-blue
          .panel-heading.arrow_box.text-center
            h3 DEV PLAN
          .panel-body.text-center
            p.lead(style='font-size:40px')
              strong $20 / month
          .panel-footer
            a.btn.btn-lg.btn-block.btn-info(href='#') BUY NOW!
      .col-xs-6.col-sm-6.col-md-4.col-lg-4
        // User activity item
        .panel.price.panel-green
          .panel-heading.arrow_box.text-center
            h3 FREE PLAN
          .panel-body.text-center
            p.lead(style='font-size:40px')
              strong $0 / month
          .panel-footer
            a.btn.btn-lg.btn-block.btn-success(href='#') BUY NOW!
    p.text-center
      a.btn.btn-primary.btn-lg.resumeLearning(href='#', role='button', style='margin-right:20px') Resume Learning
      a.btn.btn-primary.btn-lg.takeTest(href='#', role='button') Take Test
  .row
    .col-sm-6.col-md-4
      .thumbnail
        img(src='...', alt='...')
        .caption
          h3 Thumbnail label
          p ...
          p
            a.btn.btn-primary(href='#', role='button') Button
            a.btn.btn-default(href='#', role='button') Button
    .col-sm-6.col-md-4
      .thumbnail
        img(src='...', alt='...')
        .caption
          h3 Thumbnail label
          p ...
          p
            a.btn.btn-primary(href='#', role='button') Button
            a.btn.btn-default(href='#', role='button') Button
    .col-sm-6.col-md-4
      .thumbnail
        img(src='...', alt='...')
        .caption
          h3 Thumbnail label
          p ...
          p
            a.btn.btn-primary(href='#', role='button') Button
            a.btn.btn-default(href='#', role='button') Button
