extends base/layout

block content
        
    .jumbotron
      h1.text-center(style='border: 2px solid black;padding: 10px') Welcome !{name}!
      .row
         if tracks === 'not enrolled'
           .col-xs-12.col-sm-12.col-md-12.col-lg-12
            h2(style='text-align:center;font-family: Georgia') You are currently not enrolled in any tracks!
            p(style='text-align:center')
              | Click 
              a(href='/secret/tracks') Here
              |  to enrol!
         else 
           
              .row
                each val, index in tracks
                  .col-xs-6.col-sm-6.col-md-4.col-lg-4(style='padding:20px')
                    .row
                      .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        h3(style='text-align:center')=val
                    .row
                        if val === 'Chest X-Ray Essentials Track'
                          .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            img.center-block(src='images/essentialsDoctor.jpg' style='width:70px;height:100px;margin-bottom:40px')
                          .row
                            .col-xs-5.col-xs-offset-1.col-sm-5.col-sm-offset-1.col-md-5.col-md-offset-1.col-lg-5.col-lg-offset-1
                              form.form-horizontal(action='/secret/essentials', method='GET')
                                input.hidden(type='text', name="essentials", value='essentials')
                                button.btn.btn-sm.btn-block.btn-success(type='submit' style='') Resume Learning
                            .col-xs-5.col-sm-5.col-md-5.col-lg-5    
                              form.form-horizontal(action='/secret/essentialsTest', method='GET')
                                input.hidden(type='text', name="essentialsTest", value='essentialsTest')
                                button.btn.btn-sm.btn-block.btn-primary(type='submit') Take Test
                        if val === 'Emergency CT Track'
                          .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            img.center-block(src='images/emergencyDoctor.jpg' style='width:70px;height:100px;margin-bottom:40px')
                          .row
                            .col-xs-5.col-xs-offset-1.col-sm-5.col-sm-offset-1.col-md-5.col-md-offset-1.col-lg-5.col-lg-offset-1
                              form.form-horizontal(action='/secret/emergency', method='GET')
                                input.hidden(type='text', name='emergency', value='emergency')
                                button.btn.btn-sm.btn-block.btn-success(type='submit') Resume Learning
                            .col-xs-5.col-sm-5.col-md-5.col-lg-5
                              form.form-horizontal(action='/secret/emergencyTest', method='GET')
                                input.hidden(type='text', name="emergencyTest", value='emergencyTest')
                              button.btn.btn-sm.btn-block.btn-primary(type='submit') Take Test
                        if val === 'Neuro MRI Essentials Track'
                          .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            img.center-block(src='images/neuroDoctor.jpg' style='width:70px;height:100px;margin-bottom:40px')
                          .row
                            .col-xs-5.col-xs-offset-1.col-sm-5.col-sm-offset-1.col-md-5.col-md-offset-1.col-lg-5.col-lg-offset-1
                              form.form-horizontal(action='/secret/neuro', method='GET')
                                input.hidden(type='text', name='neuro', value='neuro')
                                button.btn.btn-sm.btn-block.btn-success(type='submit') Resume Learning
                            .col-xs-5.col-sm-5.col-md-5.col-lg-5   
                              form.form-horizontal(action='/secret/neuroTest', method='GET')
                                input.hidden(type='text', name="neuroTest", value='neuroTest')
                                button.btn.btn-sm.btn-block.btn-primary(type='submit') Take Test
