extends ../base/layout

block content
  .page-header
    h3 Update Password

  form.form-horizontal(action='/secret/changePassword', method='post')
    .form-group
      label(class='col-sm-2 control-label') New Password
      .col-sm-8
        input.form-control(type='password', name='newPassword', autofocus=true)
    .form-group
      label(class='col-sm-2 control-label') Confirm New Password
      .col-sm-8
        input.form-control(type='password', name='confirmPassword')
    .form-group
      .col-sm-offset-2.col-sm-8
        button#updateSubmit.btn.btn-primary(type='submit')
          | Submit
