extends ../base/lessonLayout

block content
      .row
        .col-xs-6.col-sm-6.col-md-2.col-lg-2
          h1 Node 1 of 4
          h2 X-Ray Beams
        .col-xs-6.col-sm-6.col-md-10.col-lg-10
          h1(style='text-align:center') Chest X-Ray Essentials
  
            
