extends ../base/layout

block content
        
    .jumbotron
      h1.text-center Welcome !{name}!
      .row
        .col-xs-6.col-sm-6.col-md-4.col-lg-4
          // Chest X Ray Essentials Track
          .panel.price.panel-red
            .panel-heading.text-center
              .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  h3 Chest X-Ray Essentials
              .row  
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  img(src='/images/essentialsDoctor.jpg' style='width:70px;height:100px;text-align:center;border-radius:30px')
            .panel-body.text-center
              p.lead(style='font-size:40px')
                h4.trackOverview(style='font-family:Georgia') OVERVIEW
              p.lead(style='font-size:20px')
                h5.trackDescription(style='font-family:Verdana; font-size: ') The Chest X-Ray Essentials track is a quintessential in-depth review of X-ray radiological anatomy, physiology and pathology. It is intended to provide core competency in this essential skillset.
              p.lead(style='font-size:40px')
                h4.trackLearn(style='font-family:Georgia') WHAT YOU'LL LEARN
              ul(style='font-family:Georgia; font-size: 14px')
                li Chest Radiological Anatomy
                li Common Chest X-ray imaging problems
                li Normal Chest Physiology
                li Most common Chest-Xray Diagnoses
              .row
                .col-xs-6.col-sm-6.col-md-6.col-lg-6
                  .panel.price.panel-red
                    .panel-heading.text-center
                      h3(style='font-family:Verdana; color: blue') 542 
                      span
                      h5 Nodes
                .col-xs-6.col-sm-6.col-md-6.col-lg-6
                  .panel.price.panel-red
                    .panel-heading.text-center
                      h3(style='font-family:Verdana; color: blue') 3 Hours 
                      span
                      h5 Time Required
            .panel-footer
              a.btn.btn-lg.btn-block.btn-danger(href='#') Enrol
        .col-xs-6.col-sm-6.col-md-4.col-lg-4
          // Emergency CT
          .panel.price.panel-blue
            .panel-heading.arrow_box.text-center
              .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  h3 Emergency CT
              .row  
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  img(src='/images/emergencyDoctor.jpg' style='width:70px;height:100px;text-align:center;border-radius:30px')
            .panel-body.text-center
              p.lead(style='font-size:40px')
                h4.trackOverview(style='font-family:Georgia') OVERVIEW
              p.lead(style='font-size:20px')
                h5.trackDescription(style='font-family:Verdana; font-size: ') The Emergency CT track is a quintessential in-depth review of X-ray radiological anatomy, physiology and pathology. It is intended to provide core competency in this essential skillset.
              p.lead(style='font-size:40px')
                h4.trackLearn(style='font-family:Georgia') WHAT YOU'LL LEARN
              ul(style='font-family:Georgia; font-size: 14px')
                li Chest Radiological Anatomy
                li Common Chest X-ray imaging problems
                li Normal Chest Physiology
                li Most common Chest-Xray Diagnoses
              .row
                .col-xs-6.col-sm-6.col-md-6.col-lg-6
                  .panel.price.panel-red
                    .panel-heading.text-center
                      h3(style='font-family:Verdana; color: blue') 448 
                      span
                      h5 Nodes
                .col-xs-6.col-sm-6.col-md-6.col-lg-6
                  .panel.price.panel-red
                    .panel-heading.text-center
                      h3(style='font-family:Verdana; color: blue') 4 Hours 
                      span
                      h5 Time Required
            .panel-footer
              a.btn.btn-lg.btn-block.btn-info(href='#') Enrol
        .col-xs-6.col-sm-6.col-md-4.col-lg-4
          // Neuro MRI Essentials
          .panel.price.panel-green
            .panel-heading.arrow_box.text-center
              .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  h3 Neuro MRI Essentials
              .row  
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  img(src='/images/neuroDoctor.jpg' style='width:70px;height:100px;text-align:center;border-radius:30px')
            .panel-body.text-center
              p.lead(style='font-size:40px')
                h4.trackOverview(style='font-family:Georgia') OVERVIEW
              p.lead(style='font-size:20px')
                h5.trackDescription(style='font-family:Verdana; font-size: ') The Emergency CT track is a quintessential in-depth review of X-ray radiological anatomy, physiology and pathology. It is intended to provide core competency in this essential skillset.
              p.lead(style='font-size:40px')
                h4.trackLearn(style='font-family:Georgia') WHAT YOU'LL LEARN
              ul(style='font-family:Georgia; font-size: 14px')
                li Chest Radiological Anatomy
                li Common Chest X-ray imaging problems
                li Normal Chest Physiology
                li Most common Chest-Xray Diagnoses
              .row
                .col-xs-6.col-sm-6.col-md-6.col-lg-6
                  .panel.price.panel-red
                    .panel-heading.text-center
                      h3(style='font-family:Verdana; color: blue') 469 
                      span
                      h5 Nodes
                .col-xs-6.col-sm-6.col-md-6.col-lg-6
                  .panel.price.panel-red
                    .panel-heading.text-center
                      h3(style='font-family:Verdana; color: blue') 3 Hours 
                      span
                      h5 Time Required
            .panel-footer
              a.btn.btn-lg.btn-block.btn-success(href='#') Enrol
