extends ../base/layout

block content
  .page-header
    h3 Update Profile

  form.form-horizontal(enctype='multipart/form-data', action='/secret/profile?_method=PUT', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='name') Name
      .col-sm-8
        input.form-control(type='text', name='name', id='name', value=name, autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='email') Email
      .col-sm-8
        input.form-control(type='text', name='email', id='email', value=email)
    .form-group
      label(class='col-sm-2 control-label', for='photo') Change Profile Picture
      .col-sm-8
        input(type='file', name='photo') 
    .form-group
      .col-sm-offset-2.col-sm-8
        button#updateSubmit.btn.btn-primary(type='submit')
          | Update Profile
